<mat-toolbar class="mat-elevation-z2" class="shadow-lg">
  <span class="logo">
    <button mat-icon-button aria-label="icon-button with restaurant icon">
      <mat-icon>restaurant</mat-icon>
    </button>
  </span>
  <span class="logoname">
    <span>Hunger Saviour</span>
  </span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a routerLink="/restaurants" routerLinkActive="active-link">
      <mat-icon>restaurant_menu</mat-icon>
      Restaurant2
    </a>
    <a href="" class="text-capitalize">
      <mat-icon>help</mat-icon>
      helps
    </a>
    <a routerLink="/login" routerLinkActive="active-link text-capitalize">
      <mat-icon>person</mat-icon>
      sign in
    </a>
    <a href="" class="text-capitalize">
      <mat-icon>shopping_cart</mat-icon>
      cart
    </a>
  </div>
</mat-toolbar>
